/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff9f6;
    --color-black: #0d0d0d;

    // Couleurs du projet
    --color-primary: #ad92b4;
    --color-bg-primary: #a4a694;
}
