/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Outfit', sans-serif;
    --font-secondary: 'Faustina', serif;
    --font-text: 'DM Sans', sans-serif;

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(66px, 100px)};
}
