{% include '_partials/_header.html' %}

<section class="projects">
    <div class="wrapper">
        <h1>Mes projets</h1>
        <div class="grid-projects">
            <div class="card">
                <div class="media">
                    <img src="./assets/images/thumbnail-virage.png" alt="" />
                </div>
                <div class="content">
                    <p>Montage vidéo | Étudiant | 2025</p>
                    <h3>Virage extrème</h3>
                    <p>Montage d’un générique d’ouverture fictif pour la série Virage Extrême</p>
                    <a href="">Voir le projet</a>
                </div>
            </div>
            <div class="card">
                <div class="media">
                    <img src="./assets/images/thumbnail-pub.png" alt="" />
                </div>
                <div class="content">
                    <p>Réalisation vidéo | Étudiant | 2025</p>
                    <h3>Pub pour les réseaux sociaux</h3>
                    <p>Réalisation et montage d’une pub pour les réseaux sociaux</p>
                    <a href="">Voir le projet</a>
                </div>
            </div>
            <div class="card">
                <div class="media">
                    <img src="./assets/images/MontagePréliminaire.png" alt="" />
                </div>
                <div class="content">
                    <p>Réalisation vidéo | Personnel | 2026</p>
                    <h3>Summer run</h3>
                    <p>Idéation, réalisation et montage d’un teaser de série fictive</p>
                    <a href="">Voir le projet</a>
                </div>
            </div>
            <div class="card">
                <div class="media">
                    <img src="./assets/images/thumbnail-boucle.png" alt="" />
                </div>
                <div class="content">
                    <p>Animation 3D | Étudiant | 2026</p>
                    <h3>Boucle infinie</h3>
                    <p>Modélisation et animation d’une scène 3D dans une boucle infinie</p>
                    <a href="">Voir le projet</a>
                </div>
            </div>
            <div class="card">
                <div class="media">
                    <img src="./assets/images/thumbnail-bateau.png" alt="" />
                </div>
                <div class="content">
                    <p>Animation 3D | Étudiant | 2025</p>
                    <h3>Braver la tempête</h3>
                    <p>Modélisation et animation d’une scène libre pour le projet final du cours</p>
                    <a href="">Voir le projet</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
