{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="titre-section">
            <h1 class="big">À propos de moi</h1>
            <h1>Kamille Daoust</h1>
        </div>

        <div class="grille-contenu">
            <div class="media">
                <img src="./assets/images/image-profile.png" alt="" />
            </div>

            <div class="content">
                <div class="sous-titre">
                    <h2>Je pars d’une idée. J’en fais une expérience.</h2>
                    <h3>CRÉATION MÉDIA · Motion, animation et vidéo</h3>
                </div>
                <p>
                    Moi c’est Kamille Daoust. Je suis une finissante
                    <span class="bold">curieuse</span>
                    qui adore raconter des histoires à travers ses créations. Mes principales compétences sont la
                    <span class="bold">vidéo</span>
                    et la
                    <span class="bold">3D</span>
                    . L’organisation est l’une de mes forces principales lorsque vient le temps de réaliser un projet d’envergure. Je suis quelqu’un de très
                    <span class="bold">organisée</span>
                    , qui sait ce qu’elle doit faire et pour quand elle doit le faire. Je suis également une personne très
                    <span class="bold">autonome</span>
                    . Je suis capable de me
                    <span class="bold">débrouiller</span>
                    pour régler mes problèmes techniques et de trouver des informations qui pourraient me manquer. Je suis
                    <span class="bold">prête à relever de nouveaux défis</span>
                    et à apporter mes forces au sein de réels projets réalisés en entreprise.
                </p>
                <nav class="buttons">
                    <ul>
                        <a href=""><li>Mes projets</li></a>
                        <a href=""><li>Vidéo de présentation</li></a>
                        <a href=""><li>Démo reel</li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
